# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Database
db.sqlite3
db.sqlite3-journal

# Django
*.log
local_settings.py
media/

# IDE/Tools
.vscode/
.idea/
*.swp
*.swo

